@model IEnumerable<WineProducts>

@section Styles{
    <link href="~/css/wine.css" rel="stylesheet" />
}
<form class="w3-container w3-card-4" style="margin: 10px 65px 20px 45px;">
    <div class="w3-row" style="display:flex; height: 40px;">
        <select class="w3-select" name="category">
            @if (string.IsNullOrEmpty(ViewBag.selectedCategory))
            {
                <option value="" selected>All Wine</option>
            }
            else
            {
                <option value="">All Wine</option>
            }
            @foreach (string category in (string[])ViewData["Categories"])
            {
                @if (ViewBag.selectedCategory == category)
                {
                    <option value="@category" selected>@category</option>
                }
                else
                {
                    <option value="@category">@category</option>
                }

            }
            </select>

        <select class="w3-select" name="sort">
            <option value="price">Price (High to Low)</option>
            <option value="name">Name</option>
        </select>

        <p><button class="w3-btn">Sort & Filter</button></p>
    </div>

</form>

<div style="display:flex; flex-wrap: wrap; justify-content:center;">
    @foreach (var product in Model)
    {
        <div class="w3-card-4 w3-hover-shadow" style="width: 30%; margin-right: 20px; margin-bottom: 20px;">
            <div class="w3-container w3-center" style="padding-bottom:20px;">
                <h5 class="w3-container w3-center">@product.Name</h5>
                <img src="@product.ImagePath" alt="@product.Name" style="width: 75%;">
                <p class="w3-container w3-center" id="limitText" style="letter-spacing: 1.5px;">@product.Description</p>
                <p class="w3-container w3-center">@(product.Price.HasValue ? product.Price.Value.ToString("c") : "No Price")</p>
                <a asp-controller="WineList" asp-action="Details" asp-route-id="@product.ID" class="btn btn-secondary">View Details</a>
            </div>
        </div>
    }
</div>

@*<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>*@
